@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --background: #1a1a1a;

    --calc-back: #262626;
    --calc-screen: #404040;

    --btn-blue: #809eff;
    --btn-green: #98ffbc;
    --btn-red: #ff8b8b;
    --btn-orange: #fcb37f;
    --btn-base: #303030;

    --light-txt: #eaeaea;

    --txt-btn-active: #333;
    --txt-result: #65f1a6;

    --size-heading: 64px;
    --size-display-main: 44px;
    --size-display-sec: 32px;
    --size-button: 26px;
    --size-info: 22px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Elements*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    padding: 20px 0;
    background: var(--background);
    color: var(--light-txt);
    font-family: Lato, sans-serif;
}

button {
    width: 80px;
    height: 80px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 25%;
    background-color: var(--btn-base);
    color: var(--light-txt);
    font-size: var(--size-button);
    font-weight: 700;
    box-shadow: 0 0 2px 1px rgba(196, 196, 196, 0.2);
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: translateY(-6%);
}

/*Classes*/

.heading {
    display: flex;
    justify-content: center;
    font-size: var(--size-heading);
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 14px;
    background-color: var(--calc-back);
    border-radius: 8% 8% 4% 4%;
    box-shadow: 0 4px 12px 2px rgba(196, 196, 196, 0.3);
}

.calcDisplay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    font-family: VT323, monospace;
    font-size: var(--size-display-main);
    text-align: right;
    width: 380px;
    padding: 6px 12px;
    background-color: var(--calc-screen);
    border-radius: 8px;
}

.calcDisplay .prevCalculation {
    font-size: var(--size-display-sec);
    color: var(--txt-result);
}

.btnsGrid {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-gap: 12px 20px;
}

.btnNum {
    color: var(--btn-orange);
}

.btnOperation {
    color: var(--btn-red);
}

.btnSpecial {
    color: var(--btn-blue);
}

.btnEquals {
    color: var(--btn-green);
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}
